<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <h1 class="display-2 mb-5 font-weight-light">9to5</h1>
        <p class="subheading">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus sunt consequatur numquam dolorem ducimus
          voluptates dicta adipisci illo cum a eos alias, repellendus eum aspernatur, quaerat, est quos reiciendis! Labore
          aperiam quasi debitis reiciendis quo. Itaque sit voluptatum deserunt, rerum dicta sunt magnam animi natus quae
          incidunt sapiente, atque eligendi voluptatibus, nostrum eveniet quidem labore eius neque reprehenderit commodi
          ipsa nam. Eum, nihil nobis quasi enim velit pariatur. Adipisci et illum molestias aliquam quibusdam laudantium
          itaque odio, cumque rem ratione libero, architecto doloremque repellat voluptas aliquid magni tempora quae
          deserunt culpa? Eius itaque nemo enim obcaecati quidem incidunt, voluptate, minima suscipit qui ex nostrum.
          Molestias eaque, possimus consectetur dolores magnam temporibus atque assumenda saepe veniam dignissimos nam
          soluta error tempora voluptas ratione aliquid a odit excepturi, pariatur delectus quam mollitia vitae iure.
          Nostrum similique vel labore quia vero tempore officiis praesentium sapiente earum pariatur fuga repudiandae
          quas amet voluptate ea nihil beatae, natus maxime obcaecati ullam! Doloribus repudiandae architecto, dolorum
          nihil laboriosam odio aperiam, quam culpa repellendus nesciunt hic aliquid! Quibusdam provident optio nesciunt
          porro ea odio in eveniet voluptatibus illo vel. Modi rem, odit optio sapiente, recusandae consequatur temporibus
          repudiandae atque, quae dolorum expedita harum ducimus fuga iste aspernatur? Lorem ipsum dolor sit, amet consectetur
          adipisicing elit. Fugit consectetur error rerum odio eos quibusdam vitae minus quidem, sint quod cumque ea
          itaque doloremque illo molestias provident aut delectus vero, eum consequatur temporibus ullam cum aliquid
          distinctio. Molestiae, aliquam non, consequatur eos ratione perferendis dolorem cupiditate adipisci porro a
          illum est. Molestiae odio ipsam dolore id modi velit non atque repellat illo adipisci, error neque aperiam
          at dolor culpa aspernatur, cum aliquid iure. Eligendi, eos. Eligendi dolorem, atque magni eos ratione, corrupti,
          nulla officia quos rem in aliquid nobis vero recusandae optio. Nisi aut eaque quo deleniti incidunt libero
          minus placeat corporis quia velit? Hic vitae aliquid incidunt voluptate rem et debitis ipsum, in consequuntur
          aliquam sapiente. Quasi omnis numquam itaque, nostrum natus veritatis similique eos, sint repellat tempore
          placeat, ad aut sed repellendus pariatur magni voluptas ipsum? Aut minus ipsa placeat nisi reiciendis itaque
          doloremque. Minima, cupiditate accusantium non ea esse delectus aut adipisci sapiente possimus repellendus,
          debitis molestiae atque reprehenderit necessitatibus. Aperiam consectetur ducimus soluta illum, ipsam unde.
          Sunt saepe pariatur laudantium vero alias accusamus, veniam voluptatibus porro dicta a maxime dolorum sapiente
          ipsam? Sit aliquam maiores totam laudantium. Repellendus vero ut optio perferendis officia vel, et voluptas.</p>
          <v-layout class="row" justify-start>
            <p class="body-2 font-italic">Ready? Let's go</p>
          </v-layout>
        <v-btn color='red' :to=questions class="mt-5" large>Start</v-btn>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      questions: "/questions"
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
