<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <h1 class="display-3 mb-3 font-weight-light">My View Of Me</h1>
        <p class="headline font-italic">This part measures the extent to which you have the traits that make a great employee great</p>
        <p class="title mt-2">Scoring</p>
        <v-list 
          v-for="(score, index) in scoring"
          :key="index">
          <v-list-tile>
            {{index + 1}}) {{score}}
          </v-list-tile>
        </v-list>
        <v-snackbar
          v-model="snackbar"
          :color=color
          top>
          {{ text }}
          <v-btn
            flat
            @click="snackbar = false">
            Close
          </v-btn>
        </v-snackbar>
        <v-list>
          <template v-for="(survey, index, div, number) in surveys">
            <v-subheader 
              v-bind:class="{active: isAnswered(survey.answer, index), 'answered': survey.status}" 
              :key="index">
              {{index + 1}}. {{survey.question}}
            </v-subheader>

              <v-btn-toggle 
                :key="number" 
                v-model="survey.answer" 
                class="btn-toggle">
                <v-btn flat class="button" block error>1</v-btn>
                <v-btn flat class="button" block>2</v-btn>
                <v-btn flat class="button" block>3</v-btn>
              </v-btn-toggle>

            <v-divider :key="div"></v-divider>
          </template>
        </v-list>
          <v-btn 
            color="cyan" 
            class="mt-3 submit" 
            @click="onSubmit" 
            large>
            Submit
          </v-btn>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      snackbar: false,
      answerStatus: [],
      text: "",
      color: "",
      scoring: ["No, this is not me", "Not quite me", "Yes, this is me"]
    };
  },
  methods: {
    onSubmit() {
      if (this.isAllAnswered) {
        // do soehn
        this.text = "All Answers Submitted";
        this.color = "success";
        this.snackbar = true;
      } else {
        this.text = "Check your answers and submit again";
        this.color = "error";
        this.snackbar = true;
        for (let answer = 0; answer < this.surveys.length; answer++) {
          console.log("a");
          if (this.surveys[answer].status === false) {
            console.log("b");
            this.surveys[answer].status = true;
          }
        }
      }
    },
    isAnswered(answer, index) {
      if (answer !== "") {
        this.surveys[index].status = false;
      }
    }
  },
  computed: {
    surveys() {
      return this.$store.getters.questions;
    },
    isAllAnswered() {
      return (
        this.surveys[0].answer !== "" &&
        this.surveys[1].answer !== "" &&
        this.surveys[3].answer !== "" &&
        this.surveys[4].answer !== ""
      );
    }
  }
};
</script>

<style scoped>
.btn-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-toggle .button:hover {
  color: green;
}
.submit:hover {
  background-color: green;
  color: white;
}

.answered {
  color: red;
}
</style>
